<a href="https://colab.research.google.com/github/Ruqyai/ds/blob/master/unit2/feature-engineering/challenge_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

video_game_sales = pd.read_csv('vgsales.csv')

video_game_sales['Total_sales'] = video_game_sales['NA_Sales'] + video_game_sales['EU_Sales'] \
                                 + video_game_sales['JP_Sales'] + video_game_sales['Other_Sales']

print(video_game_sales.head())

   Rank                      Name Platform  ...  JP_Sales Other_Sales Total_sales
0     1                Wii Sports      Wii  ...      3.77        8.46       82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77       40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31       35.83
3     4         Wii Sports Resort      Wii  ...      3.28        2.96       33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00       31.38

[5 rows x 11 columns]