<a href="https://colab.research.google.com/github/Ruqyai/ds/blob/master/unit2/feature-engineering/challenge_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
!wget https://raw.githubusercontent.com/codeforgirls-sa/ds/master/unit2/feature-engineering/vgsales.csv

--2020-06-17 09:05:43--  https://raw.githubusercontent.com/codeforgirls-sa/ds/master/unit2/feature-engineering/vgsales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1274117 (1.2M) [text/plain]
Saving to: ‘vgsales.csv’

vgsales.csv         100%[===================>]   1.21M  --.-KB/s    in 0.1s

2020-06-17 09:05:44 (11.0 MB/s) - ‘vgsales.csv’ saved [1274117/1274117]

In [3]:
video_game_sales = pd.read_csv('vgsales.csv')

In [4]:
video_game_sales.head()

   Rank                      Name Platform  ...  EU_Sales JP_Sales Other_Sales
0     1                Wii Sports      Wii  ...     29.02     3.77        8.46
1     2         Super Mario Bros.      NES  ...      3.58     6.81        0.77
2     3            Mario Kart Wii      Wii  ...     12.88     3.79        3.31
3     4         Wii Sports Resort      Wii  ...     11.01     3.28        2.96
4     5  Pokemon Red/Pokemon Blue       GB  ...      8.89    10.22        1.00

[5 rows x 10 columns]

In [5]:
video_game_sales['Total_sales'] = video_game_sales['NA_Sales'] + video_game_sales['EU_Sales'] \
                                 + video_game_sales['JP_Sales'] + video_game_sales['Other_Sales']

print(video_game_sales.head())

   Rank                      Name Platform  ...  JP_Sales Other_Sales Total_sales
0     1                Wii Sports      Wii  ...      3.77        8.46       82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77       40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31       35.83
3     4         Wii Sports Resort      Wii  ...      3.28        2.96       33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00       31.38

[5 rows x 11 columns]

In [6]:
video_game_sales.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Total_sales
0     1                Wii Sports      Wii  ...      3.77        8.46       82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77       40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31       35.83
3     4         Wii Sports Resort      Wii  ...      3.28        2.96       33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00       31.38

[5 rows x 11 columns]