<a href="https://colab.research.google.com/github/Ruqyai/ds/blob/master/unit1/activity_packages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# TODO - Numpy - Find square root of 1024 => 32

In [3]:
# TODO - Pandas - Convert list1 to DataFrame and remove the duplicates
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10]

In [4]:
# TODO - Seaborn - Visualize df using boxplot